@model IEnumerable<API_Usage.Models.EffSpread>

<h2>Effective Spread</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Venue Name
            </th>
            <th>
                Effective Spread
            </th>
            <th>
                Effective Quoted
            </th>
            <th>
                Price Improvement
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.venueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.effectiveSpread)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.effectiveQuoted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priceImprovement)
                </td>
            </tr>
        }
            <tr>
                <td>
                    <a id="dbopt" asp-controller="Home" asp-action="PopulateEffSpread"><img src="~/img/button_save-data.png" /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
    alertDbSave(@ViewBag.dbSuccessComp);
    </script>