@model IEnumerable<API_Usage.Models.MarketVolume>

<h2>Market Volume</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Market Identifier Code
            </th>
            <th>
                Venue Name
            </th>
            <th>
                Amount of traded shares
            </th>
            <th>
                Venue’s percentage of shares traded in the market
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marketPercent)
                </td>
            </tr>
        }
        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="PopulateMarketVolume"><img src="~/img/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>